<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow py-3">
		<div class="container">
			<a class="navbar-brand brand-title" href="/">
				klimbim GmbH
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
				aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="mainNavbar">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#start">Start</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#leistungen">Leistungen</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#aboutUs">Über uns</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-outline-light ms-lg-3 mt-2 mt-lg-0" href="#kontakt">
						<i class="fa-solid fa-envelope me-1"></i> Kontakt
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
